{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <h1>Welcome {{user}}, you are now talking to {{u}}</h1>
        <ul id="all-msgs" class="list-group my-3">
            <li class="list-group-item text-center"><h2>Chats</h2></li>
            {%for msg in msgs%}
                <li class="list-group-item"><strong>{{msg.user.username}}</strong>: {{msg.text}}</li>
            {%endfor%}
        </ul>
        <form id="form">
            <input id="msg-txt" type="text">
            <input id="send-msg" class="btn btn-success" type="submit"> 
        </form>
    </div>
</body>
<script src="{%static 'chat_script.js'%}"></script>
</html>